<h1 align="center">Listing all recipes</h1>
<hr/>

<% @recipes.each do |r| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= r.name %></h4>
      <p><%= truncate(r.description,length: 150) %></p>
      <p>
        <span class="quiet">
          <small>Created
            <%= time_ago_in_words(r.created_at) %>ago
          </small></span>
      </p>
    </div>
  </div>
<% end %>
