<nav class="navbar navbar-default">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo" %>
      </div>
                          
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><%# link_to "Chefs", chefs_path %></li>
           <li><%# link_to "All Recipes", recipes_path %></li>
           <% if false # logged_in? %>
             <li><%= link_to "ChefChat", chat_path %></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><%# link_to "Create a new recipe", new_recipe_path %></li>
               </ul>
             </li>
           <% end %>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingredients <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><%# link_to "All Ingredients", ingredients_path %></li>
               <%# Ingredient.all.each do |ingredient| %>
                 <li><%# link_to ingredient.name.capitalize, ingredient_path(ingredient) %></li>
               <%# end %>
               <% if false #  logged_in? && current_chef.admin? %>
                 <li role="separator" class="divider"></li>
                 <li><%= link_to "New Ingredient", new_ingredient_path %></li>
               <% end %>
             </ul>
           </li>
         </ul>
         <form class="navbar-form navbar-left">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Search">
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <% if false # logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_chef.chefname.capitalize %>'s Profile <%= "Admin" if current_chef.admin? %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "View your profile", chef_path(current_chef) %></li>
                  <li><%= link_to "Edit your profile", edit_chef_path(current_chef) %></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Log out", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%# link_to "Log in", login_path %></li>  
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav></li></li></li></a></li></li></li></ul></span></a></li></ul></button></div></form></li></li></li></li></ul></span></a></li></li></ul></span></a></li></li></li></li></ul></div></span></span></span></span></button></div></div></nav>
